[submodule "ORB_SLAM/ORB-SLAM2-CHINESE"]
	path = ORB_SLAM/ORB-SLAM2-CHINESE
	url = https://gitee.com/vincentqin/ORB-SLAM2-CHINESE.git
[submodule "ORB_SLAM/ORB_SLAM2"]
	path = ORB_SLAM/ORB_SLAM2
	url = https://github.com/raulmur/ORB_SLAM2.git
[submodule "ORB_SLAM/ORB-SLAM2_RGBD_DENSE_MAP"]
	path = ORB_SLAM/ORB-SLAM2_RGBD_DENSE_MAP
	url = https://github.com/tiantiandabaojian/ORB-SLAM2_RGBD_DENSE_MAP
[submodule "ORB_SLAM/ORB_SLAM2_SSD_Semantic"]
	path = ORB_SLAM/ORB_SLAM2_SSD_Semantic
	url = https://github.com/Ewenwan/ORB_SLAM2_SSD_Semantic
[submodule "ORB_SLAM/ORB-YGZ-SLAM"]
	path = ORB_SLAM/ORB-YGZ-SLAM
	url = https://github.com/gaoxiang12/ORB-YGZ-SLAM
[submodule "ORB_SLAM/ORB-Code-Notes"]
	path = ORB_SLAM/ORB-Code-Notes
	url = https://github.com/zhaoxuhui/ORB-Code-Notes.git
[submodule "ORB_SLAM/ORBSLAM2_with_pointcloud_map"]
	path = ORB_SLAM/ORBSLAM2_with_pointcloud_map
	url = https://github.com/gaoxiang12/ORBSLAM2_with_pointcloud_map
[submodule "ORB_SLAM/ORB_SLAM3"]
	path = ORB_SLAM/ORB_SLAM3
	url = https://github.com/jahaniam/ORB_SLAM3
[submodule "ORB_SLAM/ORB_SLAM3-RGBD-Inertial"]
	path = ORB_SLAM/ORB_SLAM3-RGBD-Inertial
	url = https://github.com/xiefei2929/ORB_SLAM3-RGBD-Inertial
[submodule "ORB_SLAM/slam_docker_container"]
	path = ORB_SLAM/slam_docker_container
	url = https://github.com/Kvasir8/slam_docker_container.git
[submodule "ORB_SLAM/ORB_SLAM3_detailed_comments"]
	path = ORB_SLAM/ORB_SLAM3_detailed_comments
	url = https://github.com/electech6/ORB_SLAM3_detailed_comments.git
[submodule "ORB_SLAM/TE-ORB_SLAM2"]
	path = ORB_SLAM/TE-ORB_SLAM2
	url = https://github.com/Eralien/TE-ORB_SLAM2
[submodule "LIO/LIO-SAM-DetailedNote"]
	path = LIO/LIO-SAM-DetailedNote
	url = https://github.com/smilefacehh/LIO-SAM-DetailedNote.git
[submodule "LIO/Simple-LIO-SAM"]
	path = LIO/Simple-LIO-SAM
	url = https://github.com/zeal-up/Simple-LIO-SAM.git
[submodule "LIO/S-FAST_LIO"]
	path = LIO/S-FAST_LIO
	url = https://github.com/zlwang7/S-FAST_LIO.git
[submodule "LIO/FAST_LIO"]
	path = LIO/FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO.git
[submodule "LIO/LIO-SAM-note"]
	path = LIO/LIO-SAM-note
	url = https://github.com/chennuo0125-HIT/LIO-SAM-note.git
[submodule "LIO/faster-lio"]
	path = LIO/faster-lio
	url = https://github.com/gaoxiang12/faster-lio.git
[submodule "DSO/DSO"]
	path = DSO/DSO
	url = https://github.com/alalagong/DSO.git
[submodule "DSO/LDSO"]
	path = DSO/LDSO
	url = https://github.com/tum-vision/LDSO.git
[submodule "DSO/dsol"]
	path = DSO/dsol
	url = https://github.com/versatran01/dsol.git
[submodule "DSO/dso_ros"]
	path = DSO/dso_ros
	url = https://github.com/JakobEngel/dso_ros.git
[submodule "DSO/dso"]
	path = DSO/dso
	url = https://github.com/JakobEngel/dso.git
[submodule "DSO/jakob-dso"]
	path = DSO/jakob-dso
	url = https://github.com/JakobEngel/dso.git
[submodule "DSO/stereo-dso"]
	path = DSO/stereo-dso
	url = https://github.com/JiatianWu/stereo-dso.git
[submodule "DVO/dvo"]
	path = DVO/dvo
	url = https://github.com/tum-vision/dvo.git
[submodule "DVO/dvo_slam"]
	path = DVO/dvo_slam
	url = https://github.com/tum-vision/dvo_slam.git
[submodule "DVO/simple_dvo"]
	path = DVO/simple_dvo
	url = https://github.com/muskie82/simple_dvo.git
[submodule "DVO/dvo_python"]
	path = DVO/dvo_python
	url = https://github.com/krrish94/dvo_python.git
[submodule "LIO/LIO-SAM"]
	path = LIO/LIO-SAM
	url = https://github.com/TixiaoShan/LIO-SAM.git
[submodule "LIO/LVI-SAM_detailed_comments"]
	path = LIO/LVI-SAM_detailed_comments
	url = https://github.com/electech6/LVI-SAM_detailed_comments.git
[submodule "Cartographer/cartographer_detailed_comments_ws"]
	path = Cartographer/cartographer_detailed_comments_ws
    #url = https://github.com/electech6/cartographer_detailed_comments_ws.git
	url = https://github.com/xiangli0608/cartographer_detailed_comments_ws.git
[submodule "docs/Owesome-3D-Semantic-Segmentation-Reconstruction"]
	path = docs/Owesome-3D-Semantic-Segmentation-Reconstruction
	url = https://github.com/electech6/Owesome-3D-Semantic-Segmentation-Reconstruction.git
[submodule "docs/awesome-RGBD-SLAM"]
	path = docs/awesome-RGBD-SLAM
	url = https://github.com/electech6/awesome-RGBD-SLAM.git
[submodule "LIO/LVI-SAM"]
	path = LIO/LVI-SAM
	url = https://github.com/TixiaoShan/LVI-SAM.git
[submodule "ORB_SLAM/ORB_SLAM2_Offical"]
	path = ORB_SLAM/ORB_SLAM2_Offical
	url = https://github.com/raulmur/ORB_SLAM2.git
[submodule "calibrate/lidar_IMU_calib"]
	path = calibrate/lidar_IMU_calib
	url = https://github.com/APRIL-ZJU/lidar_IMU_calib.git
[submodule "interview/cpp_programming"]
	path = interview/cpp_programming
	url = https://github.com/xiaoguangcong/cpp_pro.git
[submodule "interview/clang-uml"]
	path = interview/clang-uml
	url = https://github.com/bkryza/clang-uml.git
[submodule "maps/nds-dev/zserio"]
	path = maps/nds-dev/zserio
	url = https://github.com/ndsev/zserio.git
[submodule "maps/nds-dev/zswag"]
	path = maps/nds-dev/zswag
	url = https://github.com/ndsev/zswag.git
[submodule "maps/nds-dev/erdblick"]
	path = maps/nds-dev/erdblick
	url = https://github.com/ndsev/erdblick.git
[submodule "maps/nds-dev/zserio-tutorial-cpp"]
	path = maps/nds-dev/zserio-tutorial-cpp
	url = https://github.com/ndsev/zserio-tutorial-cpp.git
[submodule "maps/nds-dev/mapget"]
	path = maps/nds-dev/mapget
	url = https://github.com/ndsev/mapget.git
[submodule "maps/nds-dev/zserio-service-grpc-cpp"]
	path = maps/nds-dev/zserio-service-grpc-cpp
	url = https://github.com/ndsev/zserio-service-grpc-cpp.git
[submodule "maps/nds-dev/zserio-service-rmi-java"]
	path = maps/nds-dev/zserio-service-rmi-java
	url = https://github.com/ndsev/zserio-service-rmi-java.git
[submodule "maps/nds-dev/zserio-service-rest-java"]
	path = maps/nds-dev/zserio-service-rest-java
	url = https://github.com/ndsev/zserio-service-rest-java.git
[submodule "calibrate/kalibr"]
	path = calibrate/kalibr
	url = https://github.com/ethz-asl/kalibr.git
[submodule "calibrate/imu_utils"]
	path = calibrate/imu_utils
	url = https://github.com/gaowenliang/imu_utils.git
[submodule "scenarios/OSC-ALKS-scenarios"]
	path = scenarios/OSC-ALKS-scenarios
	url = https://github.com/asam-oss/OSC-ALKS-scenarios.git
[submodule "docs/smart-city"]
	path = docs/smart-city
	url = https://github.com/enryteam/smart-city.git
[submodule "PCL/pcl-learning"]
	path = PCL/pcl-learning
	url = https://github.com/HuangCongQing/pcl-learning.git
[submodule "data_fusion/Multi_Sensor_Fusion"]
	path = data_fusion/Multi_Sensor_Fusion
	url = https://github.com/2013fangwentao/Multi_Sensor_Fusion.git
[submodule "vslam_imu/MSCKF_comments"]
	path = vslam_imu/MSCKF_comments
	url = https://github.com/electech6/MSCKF_comments.git
[submodule "maps/nds-dev/zserio-service-http-python"]
	path = maps/nds-dev/zserio-service-http-python
	url = https://github.com/ndsev/zserio-service-http-python.git
[submodule "maps/nds-dev/zserio-pubsub-mosquitto-cpp"]
	path = maps/nds-dev/zserio-pubsub-mosquitto-cpp
	url = https://github.com/ndsev/zserio-pubsub-mosquitto-cpp
[submodule "maps/nds-dev/zserio-pubsub-paho-mqtt-java"]
	path = maps/nds-dev/zserio-pubsub-paho-mqtt-java
	url = https://github.com/ndsev/zserio-pubsub-paho-mqtt-java
[submodule "maps/nds-dev/zserio-pubsub-paho-mqtt-python"]
	path = maps/nds-dev/zserio-pubsub-paho-mqtt-python
	url = https://github.com/ndsev/zserio-pubsub-paho-mqtt-python
[submodule "tutorials/spring-tutorials"]
	path = tutorials/spring-tutorials
	url = https://github.com/eugenp/tutorials.git
[submodule "ORB_SLAM/ORB_SLAM2_detailed_comments"]
	path = ORB_SLAM/ORB_SLAM2_detailed_comments
	url = https://github.com/electech6/ORB_SLAM2_detailed_comments.git
[submodule "Cartographer/cartographer_detailed_comments"]
	path = Cartographer/cartographer_detailed_comments
	url = https://github.com/electech6/cartographer_detailed_comments.git
[submodule "ORB_SLAM/NeRF-Based-SLAM-Incredible-Insights"]
	path = ORB_SLAM/NeRF-Based-SLAM-Incredible-Insights
	url = https://github.com/electech6/NeRF-Based-SLAM-Incredible-Insights.git
[submodule "location/localization_in_auto_driving"]
	path = location/localization_in_auto_driving
	url = https://github.com/Little-Potato-1990/localization_in_auto_driving.git
